body {
  background-color: #FFF4E8!important;
}

nav {
  background: #CFF2FF!important;
}
* {
  color: #3D4849!important;
}

.btn-outline-primary {
  color: #6DA0B3!important;
  border-color: #B3997F!important;
}

.btn-outline-primary:hover {
  background-color: #6DA0B3!important;
  color: white!important;
}
.event-img {
  max-width: 90vw;
}

.badge-primary {
  background-color: #CFF2FF!important;  
}

.btn {
  font-size: 12px!important;
}